{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0"
    rel="stylesheet" />
  {% compress css %} 
  <link rel="stylesheet" 
      href="{% static 'src/output.css' %}"> 
  {% endcompress %}
  <script src="{% static 'js/alpine.persist.js' %}" defer></script>
  <script src="{% static 'js/alpine.js' %}" defer></script>
  <script src="{% static 'js/htmx.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  {% block responsive %}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {% endblock %}

  {% block blockbots %}
  <meta name="robots" content="NONE,NOARCHIVE">
  {% endblock %}
  {% block extrahead %}{% endblock %}
</head>

<body>
  {% include 'components/section/dashboard_nav.html' %}
  {% include 'components/section/sidebar.html' %}
  <div class="p-4 sm:ml-64  mt-14 ">
  {% block base %}

  {% endblock base %}
  {% block footer %}
  
  {% endblock footer %}
</div>

</body>

</html>