{% extends 'dashboard_base.html' %}
{% load currency_tags %}
{% block title %}
  Transactions
{% endblock %}
{% block base %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between pb-4">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tanggal
                </th>
                <th scope="col" class="px-6 py-3">
                    jumlah
                </th>
                <th scope="col" class="px-6 py-3">
                    Instrument
                </th>
                <th scope="col" class="px-6 py-3">
                    Entity
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for trx in transactions  %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    {{trx.trx_date}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    {{trx.amount|currency}}
                </th>
                <td class="px-6 py-4">
                    {{trx.entity.instrument.name}}
                </td>
                <td class="px-6 py-4">
                    {{trx.entity.name}}
                </td>
                <td class="px-6 py-4">
                    {{trx.trx_category.name}}
                </td>
                 
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <nav class="flex items-center justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing 
            <span class="font-semibold text-gray-900 dark:text-black">
                10
            </span> of 
            <span class="font-semibold text-gray-900 dark:text-black">
                {{data_count}}
            </span>
        </span>
        <ul class="inline-flex -space-x-px text-sm h-8">
            {% if transactions.has_previous %}
            <li>
                <a href="?page={{transactions.previous_page_number }}" 
                class="flex items-center 
                justify-center px-3 
                h-8 ml-0 
                leading-tight 
                text-gray-500 
                bg-white border 
                border-gray-300 
                rounded-l-lg hover:bg-gray-100 
                hover:text-gray-700 dark:bg-gray-800 
                dark:border-gray-700 dark:text-gray-400 
                dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            </li>
            {% endif %}
            {% for page in transactions.paginator.page_range  %}
            {% if transactions.number == page %}
            <li>
                <a href="?page={{page}}" 
                class="flex items-center justify-center 
                px-3 h-8 text-gray-500 
                bg-white border border-gray-300 
                hover:bg-gray-100 hover:text-gray-700 
                dark:bg-gray-800 dark:border-gray-700 
                dark:text-gray-400 dark:hover:bg-gray-700 
                dark:hover:text-white"
                >{{page}}</a>
            </li>
            {% elif page > transactions.number|add:'-2' and page < transactions.number|add:'3'  %}
            <li>
                <a href="?page={{page}}" 
                class="flex items-center justify-center 
                px-3 h-8 text-gray-500 
                bg-white border border-gray-300 
                hover:bg-gray-100 hover:text-gray-700 
                dark:bg-gray-800 dark:border-gray-700 
                dark:text-gray-400 dark:hover:bg-gray-700 
                dark:hover:text-white"
                >{{page}}</a>
            </li>
            {% endif %}

            {% endfor %}
            {% if transactions.has_next %}
            <li>
                <a href="?page={{transactions.next_page_number}}" 
                class="flex items-center justify-center px-3 h-8 
                leading-tight text-gray-500 bg-white border 
                border-gray-300 rounded-r-lg hover:bg-gray-100 
                hover:text-gray-700 dark:bg-gray-800 
                dark:border-gray-700 dark:text-gray-400 
                dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            </li> 
            {% endif %}
            
        </ul>
    </nav>
</div>
{% endblock %}
